
*{
    margin: 0;
    padding: 0;
    color: white;
    
}
*::-webkit-scrollbar{
    display: none;
}
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 15px;
   
}
nav ul li{
    list-style: none;
    transition: 0.3s;
   font-weight: bold;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(file:///C:/Users/Dell/Downloads/Default_make_a_image_of_people_playing_cricket_and_football_in_2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.menu-icon{
    width: 25px;
    height: 30px;
    display: none;
}
.about{
    display: none;
    padding: 10px;
}
.menu-icon:hover{
transition: 0.3s;
}
nav a{
    text-decoration: none;
}
.logo{
    font-weight: lighter;
    font-family: cursive;
    font-style: oblique;
}
nav ul li:hover{
    box-shadow: 0 0 15px white;
    padding: 5px;
    border-radius: 10px;
    text-wrap: nowrap;
    transition: 0.3s;
    
}
@media screen and (max-width:840px) {

    nav ul li{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    
    .about{
        display: block;
        width: 17px;
        height: 22px;
       }
    
    }
    @media screen and (max-width:470px) {
    
       .about{
        display: block;
        width: 17px;
        height: 22px;
       }
        .logo{
            font-size: medium;
        }
        nav img{
            width: 20px;
            height: 25px;
        }
        .sidebar{
            display: block;
        }
     
    }
    
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    display: none;
    left: -1%;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px white;
    border-radius: 10px;
    text-wrap: nowrap;
    top: 0;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-style: oblique;
   
  }

  .sidebar a:hover {
    color: #96bfc5;
    box-shadow: 0 0 15px white;
  }
  .top{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .sidebar img{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  #overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
 backdrop-filter: blur(20px);
 z-index: 1;
  }
  .march-fixtures{
    margin: 120px 10px;
    box-shadow: 0 0 15px white;
   text-align: center;
border-radius: 10px;
font-family: sans-serif;
font-weight: bold;


  }
  .march-fixtures p{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    font-style: italic;
  }
  .fixtures{
    margin: 10px ;
    box-shadow: 0 0 15px white;
text-align: center;
    border-radius: 10px;
    
   
    font-weight: lighter;
    
  }
  .fixtures:hover{
    box-shadow: 0 0 20px white;
    transition: 0.5s;
  }
  p{
    margin: 10px 0;
    padding: 10px;
    font-size: larger;
  }
  
hr{
    margin: 20px 0;
    background-color: white;
}
footer{
    text-align: center;

}